<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flag-lizard-1</key>
	<string>lizard-1</string>
	<key>flag-lizard-2</key>
	<string>lizard-2</string>
	<key>flag-lizard-3</key>
	<string>lizard-3</string>
	<key>flag-bird-4</key>
	<string>bird-4</string>
	<key>flag-cat-angry</key>
	<string>flag-cat-angry</string>
	<key>flag-cat-fat</key>
	<string>fat-cat</string>
	<key>flag-bird-3</key>
	<string>flag-bird-3</string>
	<key>signature</key>
	<string>flag-handwrite</string>
	<key>flag-lamp</key>
	<string>flag-lamp</string>
	<key>flag-white-puppy</key>
	<string>flag-white-puppy</string>
	<key>flag-pills</key>
	<string>two-pills</string>
	<key>flag-turtle</key>
	<string>flag-turtle</string>
	<key>flag-person-question</key>
	<string>flag-person-question</string>
	<key>flag-snake-1</key>
	<string>snake-icon</string>
	<key>flag-plants</key>
	<string>flag-plants</string>
	<key>flag-person</key>
	<string>flag-person</string>
	<key>flag-person-checked</key>
	<string>flag-person-checked</string>
	<key>flag-person-crossed</key>
	<string>flag-person-crossed</string>
	<key>flag-lockbox-t</key>
	<string>flag-lockbox-T</string>
	<key>flag-lockbox</key>
	<string>flag-lockbox</string>
	<key>flag-gorilla</key>
	<string>gorilla-flag</string>
	<key>flag-guinea-pig</key>
	<string>flag-guinea</string>
	<key>flag-key-question</key>
	<string>key-question</string>
	<key>flag-goat1</key>
	<string>flag-goat-1</string>
	<key>flag-goat2</key>
	<string>flag-goat-2</string>
	<key>flag-chicken</key>
	<string>flag-chicken</string>
	<key>flag-horse-1</key>
	<string>flag-horse-1</string>
	<key>flag-horse-2</key>
	<string>horse-2</string>
	<key>flag-alarm-red</key>
	<string>alarm-bell-pink</string>
	<key>flag-asterisk</key>
	<string>asterisk-icon</string>
	<key>flag-beachball</key>
	<string>flag-beach-ball</string>
	<key>flag-crate-1</key>
	<string>pet-cage</string>
	<key>flag-coins</key>
	<string>flag-coins</string>
	<key>flag-danger</key>
	<string>flag-danger</string>
	<key>flag-mailbox</key>
	<string>flag-mailbox</string>
	<key>flag-gas-can</key>
	<string>flag-gas-can</string>
	<key>flag-fish-sw-angel</key>
	<string>flag-fish</string>
	<key>flag-keys</key>
	<string>key-ring</string>
	<key>keys</key>
	<string>key-ring</string>
	<key>flag-parking-no</key>
	<string>no-parking-flag</string>
	<key>flag-trash2</key>
	<string>trash-2</string>
	<key>flag-trash1</key>
	<string>trashcan-icon</string>
	<key>flag-keypad</key>
	<string>keypad-flag</string>
	<key>flag-security-camera</key>
	<string>flag-nanny-cam</string>
	<key>flag-gate-1</key>
	<string>fence-flag</string>
	<key>flag-snarl</key>
	<string>angry-dog-icon</string>
	<key>flag-dog-spot</key>
	<string>flag-dog-spot</string>
	<key>flag-dog-airedale</key>
	<string>airedale</string>
	<key>flag-dog-stewie</key>
	<string>beagle</string>
	<key>flag-cat-tuxedo</key>
	<string>cat-tuxedo</string>
	<key>flag-cat-grey</key>
	<string>cat-gray</string>
	<key>flag-cat-siamese</key>
	<string>cat-siamese</string>
	<key>flag-rx</key>
	<string>rx-icon-flag</string>
	<key>flag-dollar</key>
	<string>dollar-sign</string>
	<key>flag-male</key>
	<string>flag-male</string>
	<key>flag-female</key>
	<string>female-icon</string>
	<key>flag-clock-simple</key>
	<string>clock</string>
	<key>flag-parking</key>
	<string>flag-parking</string>
	<key>flag-redcross</key>
	<string>medical-cross-red</string>
	<key>flag-yellow-star</key>
	<string>star-100x100</string>
	<key>flag-zblue-0</key>
	<string>watercolor-red-num-0</string>
	<key>flag-zblue-1</key>
	<string>watercolor-red-num-1</string>
	<key>flag-zblue-2</key>
	<string>watercolor-red-num-2</string>
	<key>flag-zblue-3</key>
	<string>watercolor-red-num-3</string>
	<key>flag-zblue-4</key>
	<string>watercolor-red-num-4</string>
	<key>flag-zblue-5</key>
	<string>watercolor-red-num-5</string>
	<key>flag-zblue-6</key>
	<string>watercolor-red-num-6</string>
	<key>flag-zblue-7</key>
	<string>watercolor-red-num-7</string>
	<key>flag-zblue-8</key>
	<string>watercolor-red-num-8</string>
	<key>flag-run1</key>
	<string>dog-running</string>
	<key>flag-run2</key>
	<string>running-dog-3</string>
	<key>flag-run3</key>
	<string>running-dog-2</string>
	<key>flag-rabbit-tan</key>
	<string>flag-rabbit</string>
	<key>flag-bird-1</key>
	<string>flag-parrot</string>
	<key>flag-bird-2</key>
	<string>flag-bird-1</string>
	<key>flag-calendar-mwf</key>
	<string>flag-calendar-1</string>
	<key>flag-calendar-occasional</key>
	<string>flag-calendar-occassional</string>
	<key>flag-calendar-weekday</key>
	<string>calendar-3</string>
	<key>flag-camera-1</key>
	<string>camera-64x64-pink</string>
	<key>flag-camera-2</key>
	<string>camera-black</string>
	<key>flag-globe-1</key>
	<string>globe-flag</string>
	<key>flag-house-1</key>
	<string>home-button-pink</string>
	<key>flag-letters1</key>
	<string>letters-1</string>
	<key>flag-letters2</key>
	<string>letters-2</string>
	<key>flag-taxi-black</key>
	<string>flag-black-car</string>
	<key>flag-taxi-yellow</key>
	<string>flag-yellow-car</string>
	<key>flag-syringe</key>
	<string>hyperdermic-needle</string>
	<key>flag-water-can</key>
	<string>water-can</string>
	<key>flag-valentine</key>
	<string>flag-valentine</string>
</dict>
</plist>
