<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ImageAssets.plist
   LeashTimeForSitter

   Created by Edward Hooban on 11/7/19.
   Copyright (c) 2019 Ted Hooban. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
