<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>NUM COORD UPLOAD</string>
		<key>Type</key>
		<string>UISlider</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>110</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>200</string>
		<key>initValue</key>
		<string>10</string>
		<key>target</key>
		<string>getNumberCoordinatesTransmitValue:</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GPS UPLOAD FREQUENCY</string>
		<key>Type</key>
		<string>UISlider</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>160</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>60</string>
		<key>maxValue</key>
		<string>720</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>getPollingFrequency:</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GPS ACCURACY MIN</string>
		<key>Type</key>
		<string>UISlider</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>210</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>5</string>
		<key>maxValue</key>
		<string>250</string>
		<key>initValue</key>
		<string>10</string>
		<key>target</key>
		<string>gpsAccuracyValue:</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>GPS MIN DISTANCE</string>
		<key>Type</key>
		<string>UISlider</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>260</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>5</string>
		<key>maxValue</key>
		<string>100</string>
		<key>initValue</key>
		<string>25</string>
		<key>target</key>
		<string>getGPSDistanceValue:</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>PET PIC</string>
		<key>tagID</key>
		<string>1</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>310</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>showPetPicInCell</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>KEYS</string>
		<key>tagID</key>
		<string>2</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>350</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>showKeyIcon</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>FLAGS</string>
		<key>tagID</key>
		<string>3</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>390</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>showFlags</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>VISIT TIMER</string>
		<key>tagID</key>
		<string>4</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>430</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>showTimer</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>CLIENT NAME</string>
		<key>tagID</key>
		<string>5</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>470</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>showClientName</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>MULTI-VISIT ARR</string>
		<key>tagID</key>
		<string>7</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>510</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>multiVisitArrive</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>REACHABILITY</string>
		<key>tagID</key>
		<string>8</string>
		<key>Type</key>
		<string>UIButton</string>
		<key>xPos</key>
		<string>20</string>
		<key>yPos</key>
		<string>550</string>
		<key>width</key>
		<string>160</string>
		<key>height</key>
		<string>24</string>
		<key>minValue</key>
		<string>10</string>
		<key>maxValue</key>
		<string>1000</string>
		<key>initValue</key>
		<string>100</string>
		<key>target</key>
		<string>showReachability</string>
	</dict>
</array>
</plist>
